.btndel {
    margin: 20px 20px 20px 0;
    background-color: rgb(5, 5, 12);
    color: azure;
    border-radius: 5px;
}
.card {
    background-color: rgb(158, 182, 184);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 5px;
}
.iconlike {
    width: 20px;
    height: 20px;
}
.buticon {
    background-color: aliceblue;
    border-radius: 50px;
}
.buticon_active {
    background-color: rgb(160, 12, 12);
    border-radius: 50px;
}